<div>
    <h1>Cinepolis</h1>
   <div>
    <h5>Entradas</h5>
    <label for="">nombre</label>
    <input formControlName="numero1" type="text">
    <br>
    <label for="">Ciudad compradores</label>
    <input formControlName="numero1" type="text">
    <br>
    <label for="">Tarjeta cinco</label>
    <input formControlName="numero1" type="radio">
    <input formControlName="numero1" type="radio">
    <br>
    <label for="">Cantidad de Boletos</label>
    <input formControlName="numero1" type="number">
   </div>
    
    
</div>
